{% extends 'enroll/base.html' %}
{% load static %}
{% block content %}

<div class="card shadow px-2 px-4 text-center">
    <div class="text-center">
        <h4 style="margin-top:20px; margin-left:40%;  width:350px; height:30px; border-radius:20px ;" class="bg-secondary text-center">Change Password Sucessfully</h4>
        <div><img style="border-radius:500px ; width:300px; height:300px;"src="{% static 'enroll/img/sucess.gif' %}" frameborder="0"></img></div>
    </div>
</div>
{% endblock content %}