{% extends 'enroll/base.html' %}
{% load static %}
{% block content %}

<div class="bg-success text-center">
    <div class=" my-5 bg-success text-center" style="border:2px solid black; width:400px; margin-left:600px;box-shadow: rgb(42, 99, 67);">
        <h4 style="margin-top:20px; margin-left:70px; width:250px; height:30px; border-radius:20px ;" class="bg-secondary">Change_Password</h4>
        <form action="" method="post" class="my-5" nonvalidate>
            {% csrf_token %}
            {% for fm in form %}
              <p>{{fm.label_tag}}</p>
                <p style="width:300px; margin-left:50px; border-radius:200px;" placeholder=""> {{fm}} </p>
                <small>{{fm.errors|striptags}}</small>
            {% endfor %}
            <button type="submit" style="width:250px; height:30px; border-radius:20px ;" class="text-center bg-primary" >password_Reset</button>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
             <p class="alert alert-danger my-3" style="border-radius:200px;">{{error}}</p>
            {% endfor %}
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}